
/*
* @Author: 梁飞
* @Date:   2017-08-29 11:19:12
* @Last Modified by:   梁飞
* @Last Modified time: 2017-09-01 13:37:30
*/
@import url('base.css');
.inro{
	background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    position: absolute;
}
.cnm{
	width: 100%;
}
.about{
	height: auto;
	overflow: hidden;
	padding: 30px;
	background: #fff;
}
.about-image div{
	width: 100%;
	height: 550px;
	overflow: hidden;
}
.about-image img {
	width: 100%;
}
.about-text .title{
	margin-bottom: 20px;
}
.about-text .title h3{
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 700;
}
.about-text .title p{
	font-size: 17px;
	line-height: 27px;
	color: #888;
}
.single-progress-item{
	margin-bottom: 30px;
}
.single-progress-item h4{
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 27px;
	font-weight: 700;
}
.progress-bar-style{
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: #d6d6d6;
	position: relative;
}
.bar-inner{
	height: 10px;
	border-radius: 5px;
	background: #000000;
	position: absolute;
	top: 0;
	left: 0;
}
.bar-inner span{
	position: absolute;
    right: 10px;
    top: -18px;
    font-size: 13px;
}
.services-section{
	background: #f6f6f6;
	padding: 90px 0;
	text-align: center;
}
.service-item .fangxing{
	width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 10px 0;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;	
    transition: all 0.3s ease;
}
.service-item .iconfont{
	display: block;
	margin: 0 auto;
	transition: all 0.3s;
}
.services-section .kuang{
	width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;   
    position: absolute;
    top: 10px;
    left: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
.services-section .kuang .small1{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 2px solid #000;
	border-right:  2px solid #000;
	opacity: 0;
	transition: all 0.3s ease;
}
.services-section .kuang .small2{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 25px;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	opacity: 0;
	transition: all 0.3s ease;
}
.services-section .kuang .small3{
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	opacity: 0;
	transition: all 0.3s ease;
}
.services-section .kuang .small4{
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 0;
	left: 25px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	opacity: 0;
	transition: all 0.3s ease;
}
.services-section .kuang:hover .sma{
	opacity: 1;
	transform:translateY(-10px)  rotate(-90deg);
}
.services-section .fangxing:hover .iconfont{
	transform: translateY(-10px);
}
.service-item h4{
	margin-top: 5px;
	font-size: 14px;
    line-height: 30px;
}
.service-item p{
	font-size: 17px;
    color: #888;
    line-height: 27px;
}
.portfolios-section{
	padding: 90px 0;
}
.section-title{
	text-align: center;
	margin-bottom: 30px;
}
.section-title h2{
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: 700;
}
.section-title p{
	font-size: 18px;
	line-height: 27px;
	color: #888;
	margin-bottom: 30px;
}
.section-title a{
	font-size: 14px;
	color: #222;
	margin-right: 10px;
}
.portfolio_container .item .tu{
	position: relative;
}
.portfolio_container .item .tu img{
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}
.portfolio_container .item .tu .zhezhao{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
}
.portfolio_container .item .tu .zhezhao a{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #333;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	opacity: 0;
}
.portfolio_container .item .tu:hover .zhezhao{
	opacity: 1;
}
.portfolio_container .item .tu:hover .zhezhao a{
	opacity: 1;
	-webkit-transform: rotateY(180deg);

    transform: rotateY(180deg);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.clints {
	padding: 90px 0;
	background: #f6f6f6;
}
.clints ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}
.LATESTBLOGS{
	padding: 90px 0;
}
.LATESTBLOGS img{
	display: block;
	width: 100%;
	height: 100%;
}
.LATESTBLOGS li a{
	display: block;
    margin-bottom: 30px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.15);
}
.LATESTBLOGS a .text{
	padding: 10px;
}
.LATESTBLOGS a .text h3{
	color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}
p{
	font-size: 17px;
    color: #888;
    line-height: 27px;
}
.LATESTBLOGS a .text h5{
	margin-top: 10px;
    font-size: 11px;
    color: #616161;
}
.text-center a{
	width: 10%;
	display: block;
	text-align: center;
	font-size:12px; 
	border: 2px solid #000;
	border-radius: 50px;
    color: #000;
    padding: 13px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.text-center:hover a{
	transform: scale(1.2, 1.2);
	transition: all 0.3s;
	background: #000;
	color: #fff;
}
.GETINTOUCH{
	padding: 90px 0;
	background: #f6f6f6;
}
.GETINTOUCH .row{
	margin-left: -15px;
	margin-right: -15px;
}
.con-info {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.con-info li {
    margin-bottom: 20px;
}
.con-info li .iconfont{
	display: block;
    font-size: 21px;
    margin-bottom: 3px;
}
.con-info li span{
	font-size: 12px;
	line-height: 20px;
}
#contact-form input {
    display: block;
    margin-bottom: 30px;
    min-width: 100%;
    height: 55px;
    padding: 7px 10px;
    background: #fff;
    border:none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#contact-form textarea {
    min-width: 100%;
    height: 180px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding-right: 80px;
    line-height: initial;
    border: none;
    resize: none;
}
#contact-form textarea:focus {
	outline: none;
	border-bottom:2px solid #000;
}
#contact-form input:focus{
	outline: none;
	border-bottom:2px solid #000;
}
.send-btn-div{
	position: relative;
}
.send-btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background: #333;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: #fff;
  	transition: all 0.5s;
}
.send-btn:hover {
    background: #fff;
    color: #333;
    box-shadow: inset 0 0 0 5px #333;
}
.foot{
	width: 100%;
	padding: 70px 0;
	background: #000;
	text-align: center;
}
.foot .tubiao{
	display: block;
	cursor: pointer;
}
.foot .tubiao  a{
	font-size: 18px;
	color: #fff;
	margin: 0 8px;
    transition: all 0.4s ease;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.foot .tubiao a:hover{
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 0.5);
}
.foot p{
	font-size: 14px;
	margin-top: 10px;
	line-height: 20px;
	color: #888;
}
@media screen and (max-width: 768px){
	.about-image{
		margin-bottom: 40px;
	}
	.service-item{
		margin-bottom: 20px;
	}
	.portfolio_container{
		margin-left: -15px;
	margin-right: -15px;
	}
	.clints ul li{
		width: 33.333333%;
		margin-bottom: 30px;
	}
	.clints ul li:nth-child(3)~li{
		display: none;
	}
	.cnm{
	height: 617px;}
}
@media screen and (min-width: 1024px){
	.clints ul li{
		width: 16.6666666%;
	}
	.cnm{
	height: 964px;}
}
@media screen and (max-width: 1024px) and (min-width: 968px){
	.clints ul li{
		width: 20%;
	}
	.clints ul li:nth-child(5)~li{
		display: none;
	}
	.cnm{
	height: 617px;}
}
@media screen and (max-width: 968px) and (min-width: 768px){
	.clints ul li{
		width: 25%;
	}
	.clints ul li:nth-child(4)~li{
		display: none;
	}
	.cnm{
	height: 638px;}
}